{% extends 'basic.html' %}
{% block body %}

{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'bet/table_ver1.css' %}" />

<p>Summary results</p>

<p>Dobrze by bylo sortowac po uzytkowniku...</p>

<table style="width: 100%;">
    <tr>
        <th>User</th>
        <th>Match</th>
        <th>Date</th>
        <th>Round</th>
        <th>Expected_result</th>
        <th>Final_result</th>
        <th>Score</th>
    </tr>
    {% for item in overview_results %}
    <tr>
        <td>{{ item.user }}</td>
        <td align="center"><img src={{ item.match.home_team.flag }}>  {{ item.match.home_team.name }} - {{ item.match.away_team.name }}  <img src={{ item.match.away_team.flag }}></td>
        <td>{{ item.match.match_date|date:"D d M Y" }}</td>
        <td>{{ item.round }}</td>
        <td align="center" valign="middle">{{ item.expected_result }}</td>
        <td align="center" valign="middle">{{ item.final_result }}</td>
        <td align="center" valign="middle">{{ item.score }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}