{% extends 'basic.html' %}
{% block body %}

{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'bet/table_ver1.css' %}" />

<br>
<p>Summary table </p>

{% for round, results in summary.items %}

<p> Results in Round {{ round }} </p>
<table>
    <tr>
        <th>User</th>
        <th>Points</th>
    </tr>
    {% for user, points in results %}
    <tr>
        <td> {{ user }} </td>
        <td> {{ points }} </td>
    </tr>
    {% endfor %}
</table>
{% endfor %}

{% endblock %}