{% extends 'basic.html' %}
{% block body %}


<h3>My bets: </h3>

{% if user_bets  %}
    <ol>
    {% for bet in user_bets %}
        <li><img src={{ bet.match.home_team.flag }}>
        {{ bet.match.home_team.name }}
        {{ bet.expected_home_goals }} : {{ bet.expected_away_goals }}
        {{ bet.match.away_team.name }}
        <img src={{ bet.match.away_team.flag }}></li>
    {% endfor %}
    </ol>
{% else %}
    Nothig
{% endif %}

<h3>Matches to vote: </h3>

{% if matches_to_bet  %}
    <ol>
    {% for match in matches_to_bet %}
        <li><img src={{ match.home_team.flag }}>
        {{ match.home_team.name }} - {{ match.away_team.name }}
        <img src={{ match.away_team.flag }}></li>
    {% endfor %}
    </ol>
    <a href="/bet/new_votes">You can vote here</a>
{% else %}
    Nothig
{% endif %}


<h3>Too late to bet:</h3>

{% if too_late_to_bet  %}
    <ol>
    {% for match in too_late_to_bet %}
        <li><img src={{ match.home_team.flag }}>
        {{ match.home_team.name }} - {{ match.away_team.name }}
        <img src={{ match.away_team.flag }}></li>
    {% endfor %}
    </ol>
{% else %}
    Nothig
{% endif %}

{% endblock %}